@import "variables.scss";

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  & .banner {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/mainimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    min-height: 980px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 200px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;

      &__nav {

        a {
          font-weight: bold;
          @include text;
          text-align: left;
          margin-left: 32px;
          color: $white;
          text-decoration: none;
          cursor: pointer;
        }
      }

      &__burger {
        background-color: $brown;
        height: 50px;
        width: 80px;
      }

      &__reservation {
        width: 267px;
        height: 51px;
        border-radius: 30px;
        border: none;
        background-color: $brown;
        @include text;
        color: $white;
        cursor: pointer;
      }
    }

    &__title {
      font-family: Playfair Display, serif;
      font-weight: bold;
      font-size: 100px;
      line-height: 133px;
      text-align: Left;
      color: $white;
      text-shadow: $black 1px 0 10px;
      margin-top: 200px;
      max-width: 940px;
    }

    &__form {
      display: flex;
      flex-direction: row;
      margin-top: 36px;

      input {
        font: 1rem 'Raleway', sans-serif;
        background-color: $grey;
        text-shadow: $black 1px 0 10px;
        backdrop-filter: blur(5px);
        height: 60px;
        border: none;
        box-sizing: border-box;
        padding: 0 10PX;
        color: $white;
        font-weight: bold;
        border-radius: 15px;
        margin-right: 25px;
        cursor: pointer;
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        background: url("../assets/calendar.png") no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
        border-width: thin;
      }

      input[type="date"]:before {
        content: attr(placeholder) !important;
        color: $white;
        margin-right: 0.5em;
      }

      input[type="date"]:focus:before,
      input[type="date"]:valid:before {
        content: "";
      }

      input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
      }

      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        display: none;
      }

      #checkin, #checkout {
        width: 360px;
      }

      #guests {
        width: 252px;
      }

      #guests::-moz-placeholder {
        color: $white;
      }

      #guests::-webkit-input-placeholder {
        color: $white;
      }

      &__reservation {
        width: 280px;
        height: 60px;
        border-radius: 12px;
        border: none;
        background-color: $brown;
        @include text;
        color: $white;
        margin-left: 100px;
        cursor: pointer;
      }
    }

    &__circle {
      height: 60px;
      width: 60px;
      margin-top: 260px;
      background-color: $grey;
      backdrop-filter: blur(5px);
      border-radius: 50%;
      align-self: center;
      cursor: pointer;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 30px;
        width: 30px;
        position: relative;
        z-index: 2;
        color: black;
        filter: invert(1);
      }
    }
  }

  & .about {
    display: flex;
    flex-direction: column;
    min-height: 940px;
    max-width: 1920px;
    box-sizing: border-box;
    width: 100%;
    padding: 100px 140px;
    background-color: $beige;

    &__title {
      p {
        font-family: Raleway, serif;
        font-size: 20px;
        line-height: 23px;
      }

      h2 {
        @include title;
        color: $title;
        max-width: 900px;
        margin-top: 20px;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        font-family: Raleway, serif;
        font-size: 20px;
        line-height: 26px;
        max-width: 700px;
      }

      video {
        max-width: 900px;
      }
    }
  }

  & .offer {
    font-family: Playfair Display, serif;
    max-width: 1920px;
    width: 100%;
    background: $beige;
    display: flex;
    flex-direction: column;
    padding: 0 140px;
    box-sizing: border-box;

    &__title {
      @include title;
      color: $title;
      font-weight: bold;
    }

    &__block {
      display: flex;
      justify-content: space-between;

      &__content {
        display: flex;
        flex-direction: column;
        color: $black;
        margin: 10px;
        background-color: $white;
        box-shadow: $grey 1px 0 10px;
        width: 30%;

        img {
          width: 100%;
        }

        h3 {
          font-family: Playfair Display, serif;
          font-weight: bold;
          font-size: 30px;
          line-height: 40px;
          text-transform: uppercase;
          min-height: 80px;
          margin: 20px;
        }

        p {
          font-family: Raleway, serif;
          font-size: 20px;
          line-height: 23px;
          margin: 20px;
        }
      }
    }
  }

  & .health {
    display: flex;
    max-width: 1920px;
    width: 100%;
    background: $beige;
    padding: 100px 0;
    box-sizing: border-box;

    &__content {

      &__procedure {
        max-width: 546px;
        position: relative;
        left: 150px;
        z-index: 1;
        border-radius: 30% 30% 0 0;
      }

      &__massage {
        max-width: 546px;
        position: relative;
        left: 470px;
        top: -250px;
      }
    }

    &__info {
      background-color: $darkbrown;
      padding: 70px 150px 150px 250px;
      box-sizing: border-box;
      max-width: 1100px;

      h2 {
        @include title;
        color: $title;
        position: relative;
        z-index: 1;
      }

      p {
        font-family: Raleway, serif;
        font-size: 20px;
        line-height: 23px;
        padding-left: 120px;
        max-width: 500px;
      }

      div {
        font-family: Playfair Display, serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        cursor: pointer;
        padding-left: 120px;
      }
    }
  }

  & .entertainment {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    padding: 150px 100px;
    box-sizing: border-box;
    background-color: $beige;

    &__block {
      h2 {
        color: $title;
        max-width: 600px;
        position: relative;
        z-index: 1;
        @include title;
      }

      &__info {
        display: flex;

        img {
          max-width: 465px;
        }

        &__text {
          display: flex;
          flex-direction: column;
          margin: 50px 20px;

          p {
            font-family: Raleway, serif;
            font-size: 20px;
            line-height: 23px;
            max-width: 550px;
          }

          div {
            font-family: Playfair Display, serif;
            font-size: 16px;
            line-height: 21px;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            cursor: pointer;
          }
        }
      }
    }

    &__img {
      border-radius: 30% 30% 0 0;
      max-width: 710px;
    }
  }

  & .room {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    padding: 100px 250px;
    box-sizing: border-box;
    background-color: $beige;

    &__title {
      display: flex;
      align-items: center;

      h2 {
        @include title;
        color: $title;
        max-width: 600px;

      }

      div {
        width: 1220px;
        height: 1px;
        box-shadow: $grey 1px 0 10px;
        border: 1px solid $brown;
        background: $brown;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;

      &__info {
        display: flex;
        margin: 10px;

        &__img {
          max-width: 564px;
        }

        &__text {
          display: flex;
          flex-direction: column;
          margin-left: 80px;

          h5 {
            font-family: Playfair Display, serif;
            font-size: 28px;
          }

          p {
            font-family: Raleway, serif;
            font-size: 20px;
            line-height: 23px;

            b {
              font-family: Playfair Display, serif;
              font-size: 2em;
            }
          }

          div {
            font-family: Playfair Display, serif;
            font-size: 16px;
            line-height: 21px;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            cursor: pointer;
          }
        }
      }
    }
  }

  & .gallery {
    max-width: 1920px;
    width: 100%;
    background-color: $beige;
    display: flex;
    flex-direction: column;
    padding: 150px 200px;

    h2 {
      @include title;
      display: flex;
      align-items: center;

      div {
        width: 272px;
        height: 1px;
        box-shadow: $grey 1px 0 10px;
        border: 1px solid $brown;
        background: $brown;
      }
    }

    &__carousel {
      &__inner {
        max-width: 1700px;

      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .banner__header__burger {
    display: none;

    span {
      display: none;
    }
  }

  .banner__header__mobile {
    display: none;
  }

}


@media screen and (min-width: 720px) and (max-width: 1440px) {
  body {
    & .room {
      padding: 100px;

      &__title {

        h2 {
          font-size: 50px;
          line-height: 65px;
        }

        div {
          width: 900px;
        }
      }

      &__block {
        &__info {
          display: flex;
          margin: 10px;

          &__img {
            max-width: 350px;
          }

          &__text {
            margin-left: 10px;

            p {
              font-family: Raleway, serif;
              font-size: 16px;
              line-height: 16px;

              b {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 719px) {
  body {
    & .room {
      padding: 50px;
      align-items: center;

      &__title {
        max-width: 320px;

        h2 {
          font-size: 40px;
          line-height: 53px;
        }

        div {
          width: 600px;
        }
      }

      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__info {
          display: flex;
          flex-direction: column;
          margin: 0;
          align-items: center;

          &__img {
            max-width: 320px;
          }

          &__text {
            display: flex;
            flex-direction: column;
            margin: 20px;
            max-width: 320px;

            h5 {
              font-family: Playfair Display, serif;
              font-size: 20px;
              line-height: 20px;
            }

            p {
              font-family: Raleway, serif;
              font-size: 16px;
              line-height: 16px;

              b {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1440px) {

  body {
    & .gallery {

      padding: 10px 100px;

      h2 {
        font-size: 45px;
        line-height: 56px;
      }

      &__carousel {
        display: flex;
        justify-content: center;

        &__inner {
          &__item {
          }
        }
      }
    }
  }
}


@media screen and (max-width: 719px) {

  body {
    & .gallery {
      padding: 0 50px;

      h2 {
        font-size: 40px;
        line-height: 53px;
        max-width: 320px;
      }

      &__carousel {
        &__inner {
          max-width: 600px;
          height: 240px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body {
    & .about {
      padding: 100px 200px;

      &__title {

        p {
          text-align: center;
          font-size: 25px;
          line-height: 30px;
        }

        h2 {
          font-size: 50px;
          line-height: 65px;
          margin-top: 20px;
          max-width: 1200px;
          text-align: center;
        }
      }

      &__info {
        flex-direction: column-reverse;

        div {
          font-size: 20px;
          line-height: 26px;
          max-width: 1200px;
          margin-top: 20px;
          text-align: justify;
        }
      }
    }

    & .offer {
      padding: 0 100px;

      &__title {
        font-size: 50px;
        line-height: 65px;
      }

      &__block {
        &__content {
          h3 {
            font-size: 20px;
            line-height: 30px;
            min-height: 60px;
          }

          p {
            @include text;
            margin: 0 20px 20px 20px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1700px) {
  body {
    & .health {
      padding: 100px 0;
      align-items: center;
      flex-direction: column;

      &__content {
        padding-bottom: 100px;

        &__procedure {
          max-width: 350px;
          left: 50px;
        }

        &__massage {
          max-width: 350px;
          top: 180px;
          left: 0;
        }
      }

      &__info {
        max-width: 700px;
        width: 100%;
        padding: 70px 10px;

        p {
          padding: 20px 0;
          max-width: none;
        }

        div {
          padding-left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1700px) {
  body {
    & .entertainment {
      padding: 0 0 0 200px;
      justify-content: center;

      &__block {
        &__info {
          flex-direction: column-reverse;

          img {
            max-width: 465px;
          }

          &__text {
            margin: 20px 0;
            max-width: 400px;

            p {
              font-family: Raleway, serif;
              font-size: 20px;
              line-height: 23px;
              max-width: 550px;
            }

          }
        }
      }

      &__img {
        margin-top: 220px;
        position: relative;
        z-index: 1;
        left: -220px;

        img {
          max-width: 400px;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1440px) {
  body {
    & .banner {
      min-height: 720px;
      background-position: center;
      padding: 20px;

      &__header {
        margin: 0 40px;

        &__nav {
          a {
            display: none !important;
          }
        }

        &__reservation {
          display: none;
        }
      }

      &__title {
        font-size: 80px;
        line-height: 80px;
        text-align: center;
        margin: 80px auto;
      }

      &__form {
        flex-direction: column;
        align-items: center;

        input {
          margin: 30px;

        }

        &__reservation {
          margin: 30px auto;
        }
      }

      &__circle {
        margin-top: 180px;
      }
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
  body {
    & .about {
      padding: 100px 20px;

      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          text-align: center;
          font-size: 20px;
          line-height: 25px;
        }

        h2 {
          text-align: center;
          font-size: 45px;
          line-height: 56px;
          margin-top: 20px;
        }
      }

      &__info {
        flex-direction: column-reverse;

        div {
          font-size: 22px;
          line-height: 30px;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  body {
    & .offer {
      padding: 0 20px;
      align-items: center;

      &__title {
        font-size: 40px;
        line-height: 53px;
      }

      &__block {
        flex-direction: column;
        max-width: 460px;
        align-items: center;

        &__content {
          width: 100%;

          img {
            max-height: 460px;
            object-fit: cover;
            object-position: 50% 50%;
          }

          h3 {
            font-size: 24px;
            line-height: 32px;
            min-height: 60px;
          }

          p {
            @include text;
            margin: 0 20px 20px 20px;
          }
        }
      }
    }

    & .entertainment {
      padding: 20px 0;
      align-items: center;
      flex-direction: column;

      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-size: 26px;
          line-height: 53px;
          max-width: 320px;
          text-align: center;
        }

        &__info {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            max-width: 320px;
          }

          &__text {
            text-align: justify;

            p {
              max-width: 400px;
            }

          }
        }
      }

      &__img {
        img {
          max-width: 320px;
        }
      }
    }
  }
}

@media screen and (max-width: 719px) {

  body {
    & .about {
      padding: 100px 20px;

      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          @include text;
          text-align: center;
        }

        h2 {
          font-size: 40px;
          line-height: 53px;
          margin-top: 20px;
          text-align: center;
        }
      }

      &__info {
        flex-direction: column-reverse;

        div {
          font-size: 20px;
          line-height: 26px;
          text-align: justify;
        }

        video {
          margin: 10px;
          width: 300px;
        }
      }
    }

    & .health {
      align-items: center;
      flex-direction: column;

      &__content {

        &__procedure {
          max-width: 155px;
          left: 30px;

        }

        &__massage {
          max-width: 160px;
          top: 120px;
          left: -20px;
        }
      }

      &__info {
        padding: 70px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        max-width: 320px;


        h2 {
          font-size: 38px;
          line-height: 53px;
          margin-top: 20px;
          text-align: center;
          max-width: 320px;
        }

        p {
          @include text;
          text-align: justify;
          padding-left: 0;
        }

        div {
          padding-left: 0;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  body {
    & .banner {
      min-height: 600px;
      background-position: center;
      padding: 20px;

      &__header {
        margin: 0 10px;

        &__nav {
          a {
            display: none !important;
          }
        }

        &__reservation {
          display: none;
        }
      }

      &__title {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        margin: 50px auto;
      }

      &__form {
        flex-direction: column;
        align-items: center;

        input {
          margin: 30px;
          max-width: 280px;
        }

        &__reservation {
          margin: 30px auto;
          width: 280px;
          height: 52px;
        }
      }
    }
  }
}

